---
import Layout from "../layouts/Layout.astro";

import Footer from "../components/organisms/Footer.astro";
import HeroBanner from "../components/organisms/Landing/HeroBanner.astro";
import PhilosophySection from "../components/organisms/Landing/PhilosophySection.astro";
import PortfolioSection from "../components/organisms/Landing/PortfolioSection.astro";
import MethodologySection from "../components/organisms/Landing/MethodologySection.astro";
import TestimonialSection from "../components/organisms/Landing/TestimonialSection.astro";
import JournalSection from "../components/organisms/Landing/JournalSection.astro";
import CTASection from "../components/organisms/Landing/CTASection.astro";
import MetierSection from "../components/organisms/Landing/MetierSection.astro";
---

<Layout>
  <main>
    <HeroBanner />
    <PhilosophySection />
    <PortfolioSection />
    <MethodologySection />
    <TestimonialSection />
    <JournalSection />
    <MetierSection />
    <CTASection />
  </main>
  <Footer />
</Layout>
