---
import Layout from '../layouts/Layout.astro';
import HeroBanner from '../components/organisms/HeroBanner.astro';
import PhilosophySection from '../components/organisms/PhilosophySection.astro';
import PortfolioSection from '../components/organisms/PortfolioSection.astro';
import MethodologySection from '../components/organisms/MethodologySection.astro';
import TestimonialSection from '../components/organisms/TestimonialSection.astro';
import JournalSection from '../components/organisms/JournalSection.astro';
import MetierSection from '../components/organisms/MetierSection.astro';
import CTASection from '../components/organisms/CTASection.astro';
import Footer from '../components/organisms/Footer.astro';
---

<Layout>
	<main>
		<HeroBanner />
		<PhilosophySection />
		<PortfolioSection />
		<MethodologySection />
		<TestimonialSection />
		<JournalSection />
		<MetierSection />
		<CTASection />
	</main>
	<Footer />
</Layout>
