---
interface Props {
  href?: string;
  className?: string;
}

const { href = "#", className = "" } = Astro.props;
---

<a 
  href={href} 
  class={`navbar-text text-white hover:text-cyan-500 font-medium transition-colors text-[15px] duration-300 ${className}`}
>
  <slot />
</a>
