---
import SplashGate from "../atoms/SplashGate.astro";
import GateEmblem from "./GateEmblem.astro";
---

<div id="gatesContainer" class="absolute inset-0 z-50 pointer-events-none">
  <SplashGate side="left" mantra="ꦲꦤꦕꦫꦏꦢꦠꦱꦮꦭ" />
  <SplashGate side="right" mantra="ꦥꦣꦗꦪꦚꦩꦒꦧꦛꦔ" />
  <GateEmblem />
</div>
