---
import splashAudio from "../../assets/audio/opening.mp3";
import SplashGates from "../molecules/SplashGates.astro";
import ScrollPrompt from "../atoms/ScrollPrompt.astro";
import StageFoundation from "./Splash/StageFoundation.astro";
import StageVision from "./Splash/StageVision.astro";
import StageStory1 from "./Splash/StageStory1.astro";
import StageStory2 from "./Splash/StageStory2.astro";
import StageStory3 from "./Splash/StageStory3.astro";
import StageStory4 from "./Splash/StageStory4.astro";
import StageStory5 from "./Splash/StageStory5.astro";
import StageStory6 from "./Splash/StageStory6.astro";
import StageStory7 from "./Splash/StageStory7.astro";
import StageStory8 from "./Splash/StageStory8.astro";
---

<div id="splash" class="fixed inset-0 z-[100] bg-transparent overflow-hidden">
  <audio id="splashMusic" src={splashAudio} preload="auto" loop></audio>

  <SplashGates />

  <div
    id="innerJournal"
    class="absolute inset-0 z-40 bg-[#0c0c0c] flex flex-col items-center justify-center will-change-transform opacity-100"
  >
    <div
      class="absolute inset-0 opacity-[0.05] pointer-events-none"
      style="background-image: url('data:image/svg+xml,%3Csvg viewBox=%220 0 200 200%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cfilter id=%22n3%22%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%220.8%22 numOctaves=%224%22 stitchTiles=%22stitch%22/%3E%3C/filter%3E%3Crect width=%22100%25%22 height=%22100%25%22 filter=%22url(%23n3)%22/%3E%3C/svg%3E');"
    >
    </div>
    <div
      class="absolute inset-6 md:inset-12 border border-[#C5A059]/10 pointer-events-none"
    >
      <div
        class="absolute top-0 left-1/2 -translate-x-1/2 w-[1px] h-full bg-[#C5A059]/5"
      >
      </div>
    </div>

    <StageFoundation />
    <StageVision />
    <StageStory1 />
    <StageStory2 />
    <StageStory3 />
    <StageStory4 />
    <StageStory5 />
    <StageStory6 />
    <StageStory7 />
    <StageStory8 />
  </div>

  <ScrollPrompt />
</div>

<style>
  @keyframes scrollLine {
    0% {
      transform: scaleY(0);
      transform-origin: top;
      opacity: 0;
    }
    30% {
      transform: scaleY(1);
      transform-origin: top;
      opacity: 1;
    }
    31% {
      transform-origin: bottom;
    }
    100% {
      transform: scaleY(0);
      transform-origin: bottom;
      opacity: 0;
    }
  }
</style>

<script>
  import { initSplash } from "../utils/splashController";
  initSplash();
  document.addEventListener("astro:page-load", initSplash);
</script>
